#contactForm .row {
  display: flex;
  flex-wrap: wrap;
}

#contactForm .col-md-6 {
  display: flex;
  flex-direction: column;
}

#contactForm .form-group {
  margin-bottom: 15px;
}

#contactForm .form-group-textarea {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#contactForm .form-group-textarea textarea {
  flex-grow: 1;
}
