
<!-- app.component.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Agency - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
              <a class="navbar-brand" href="#page-top">
                <!-- <img src="./assets/img/navbar-logo.svg" alt="..." /> -->
                Accueil
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#cours-domicile">Cours à domicile</a></li>
                        <li class="nav-item"><a class="nav-link" href="#cours-en-ligne">Cours en ligne</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tarif">Tarif</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#team">Team</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Cours particuliers à Agen & Alentours</div>
                <div class="masthead-heading">Progresser en Maths et Physique Chimie</div>
                <a class="btn btn-primary btn-xl" href="#cours-domicile">Plus d'infos</a>
            </div>
        </header>
        <!-- cours-domicile-->
        <section class="page-section" id="cours-domicile">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="section-heading text-uppercase">Cours à domicile</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p>Pour les cours à domicile, je me déplace chez vous avec tout le matériel nécessaire pour assurer des séances
                  efficaces et interactives. Chaque cours est personnalisé selon les besoins de l'élève pour garantir une
                  progression rapide et tangible.</p>

                <h3>Mathématiques :</h3>
                <p><strong>Collège :</strong> Nous abordons les notions fondamentales telles que les fractions, les proportions,
                  la géométrie, et l'algèbre de base. Chaque séance vise à renforcer les compétences et à préparer les élèves
                  aux
                  examens du Brevet.</p>
                <p><strong>Lycée :</strong> Les cours incluent l'algèbre avancée, la trigonométrie, le calcul différentiel et
                  intégral, ainsi que les statistiques et probabilités. L'objectif est de maîtriser le programme du Bac et de se
                  préparer aux études supérieures.</p>

                <h3>Physique :</h3>
                <p><strong>Collège :</strong> Les cours couvrent les principes de base comme les forces, l'électricité, le
                  magnétisme, et la thermodynamique. Les expériences pratiques sont intégrées pour illustrer les concepts
                  théoriques.</p>
                <p><strong>Lycée :</strong> Nous approfondissons des sujets tels que la mécanique, l'optique,
                  l'électromagnétisme,
                  et la physique nucléaire. Une attention particulière est portée à la résolution de problèmes complexes et à la
                  préparation aux épreuves du Bac.</p>

                <h3>Chimie :</h3>
                <p><strong>Collège :</strong> Les élèves découvrent les notions de base de la chimie, y compris les réactions
                  chimiques, les états de la matière, et la table périodique. Des expériences simples sont réalisées pour
                  encourager l’apprentissage pratique.</p>
                <p><strong>Lycée :</strong> Les cours incluent l'étude des réactions chimiques avancées, la chimie organique et
                  inorganique, et les calculs stœchiométriques. Les séances visent à développer une compréhension approfondie et
                  à
                  préparer les élèves pour les examens finaux.</p>

                <h3>Méthodologie :</h3>
                <ul>
                  <li><strong>Personnalisation :</strong> Chaque cours est adapté aux besoins spécifiques de l'élève, prenant en
                    compte ses points forts et ses difficultés.</li>
                  <li><strong>Interactivité :</strong> Utilisation de matériel pédagogique varié (manuels, exercices
                    interactifs,
                    logiciels éducatifs) pour rendre les séances engageantes et dynamiques.</li>
                  <li><strong>Suivi et évaluation :</strong> Des évaluations régulières sont réalisées pour mesurer les progrès
                    et
                    ajuster la stratégie d'apprentissage si nécessaire.</li>
                </ul>

                <h3>Avantages :</h3>
                <ul>
                  <li><strong>Confort et commodité :</strong> Les cours ont lieu à domicile, offrant un environnement familier
                    et
                    confortable pour l’élève.</li>
                  <li><strong>Flexibilité horaire :</strong> Les séances peuvent être programmées selon les disponibilités de
                    l’élève et de sa famille.</li>
                  <li><strong>Progression rapide :</strong> Grâce à un suivi individualisé, les élèves progressent à leur propre
                    rythme, ce qui conduit à des résultats tangibles et rapides.</li>
                </ul>

                <p>En optant pour des cours à domicile en mathématiques, physique et chimie, les élèves bénéficient d’un soutien
                  complet et sur mesure pour réussir au collège et au lycée.</p>
              </div>
            </div>
          </div>
        </section>

        <!-- cours-en-ligne-->
        <section class="page-section bg-light" id="cours-en-ligne">
          <div class="container">
            <div class="text-center">
              <h2 class="section-heading text-uppercase">Cours en ligne</h2>
            </div>
            <div class="row">
              <div class="col-12">
                <p>Pour les cours en ligne, j'offre des sessions interactives à distance utilisant des outils modernes pour
                  enseigner les mathématiques et la physique-chimie. Chaque session est adaptée aux besoins spécifiques de
                  l'élève,
                  en utilisant des ressources pédagogiques variées pour rendre l'apprentissage efficace et engageant.</p>

                <h3>Mathématiques :</h3>
                <p>Les cours de mathématiques en ligne couvrent les mêmes concepts que ceux enseignés en présentiel, mais avec
                  l'utilisation d'outils numériques pour des exercices interactifs et des simulations.</p>

                <h3>Physique-Chimie :</h3>
                <p>Les sessions de physique-chimie en ligne incluent des expériences virtuelles, des simulations et des
                  démonstrations pratiques pour illustrer les principes théoriques et encourager une compréhension approfondie
                  des sujets.</p>

                <h3>Méthodologie :</h3>
                <ul>
                  <li><strong>Personnalisation :</strong> Chaque session est adaptée aux besoins spécifiques de l'élève,
                    intégrant
                    des exercices et des exemples pertinents.</li>
                  <li><strong>Interactivité :</strong> Utilisation d'outils numériques et de plateformes éducatives pour
                    rendre
                    les sessions aussi engageantes que possible.</li>
                  <li><strong>Suivi et évaluation :</strong> Des évaluations régulières et des feedbacks personnalisés
                    permettent
                    de mesurer les progrès et d'ajuster l'approche d'enseignement si nécessaire.</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      <!-- Tarif des cours -->
      <section class="page-section" id="tarif">
        <div class="container">
          <div class="text-center">
            <h2 class="section-heading text-uppercase">Tarif des cours</h2>
            <p class="text-muted">Le tarif des cours varie en fonction du type de cours et de la durée :</p>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="table-responsive">
                <table class="table table-bordered text-center">
                  <thead>
                    <tr>
                      <th scope="col">Type de cours</th>
                      <th scope="col">Tarif par heure</th>
                      <th scope="col">Réduction</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cours à domicile</td>
                      <td>20€</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Cours en ligne</td>
                      <td>18€</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Pack 10 heures</td>
                      <td>Varie</td>
                      <td>10% de réduction sur le tarif total</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <p class="text-muted">Pour plus d'informations sur nos tarifs et les options de paiement disponibles, veuillez me contacter au
              <a href="tel:+33665631106" class="link-dark text-decoration-none "><strong>06 65 63 11 06</strong></a></p>
          </div>
        </div>
      </section>

      <!-- Contact -->
      <!-- <section class="page-section bg-light" id="contact">
        <div class="container">
          <div class="text-center">
            <h2 class="text-uppercase">Contact</h2>
            <p class="text-muted">N'hésitez pas à nous contacter pour toute information supplémentaire.</p>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="text-center mt-4">
                <p class="text-muted">
                  <i class="fas fa-phone"></i> <a href="tel:+33665631106"
                    class="link-dark text-decoration-none"><strong> 06 65 63 11 06</strong></a>
                </p>
                <p class="text-muted">
                  <i class="fas fa-envelope"></i> <a href="mailto:contact&#64;soutienmathsphysique.fr"
                    class="link-dark text-decoration-none"><strong> contact&#64;soutienmathsphysique.fr</strong></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section> -->


        <!-- Contact -->
        <section class="page-section" id="contact">
          <div class="container">
            <div class="text-center">
              <h2 class="section-heading text-uppercase">Contact</h2>
              <p class="section-subheading text-muted">N'hésitez pas à nous contacter pour toute question ou demande d'information.
              </p>
            </div>
            <app-contact></app-contact>
          </div>
        </section>

        <!-- Footer-->
        <footer class="footer py-4">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-4 text-lg-start">Copyright &copy; 2024</div>
              <div class="col-lg-4 text-lg-center my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
              </div>
              <div class="col-lg-4 text-lg-end">
                <p class="mb-0">Agen</p>
                <p class="mb-0"><i class="fas fa-phone"></i> <a href="tel:+33665631106"
                    class="link-dark text-decoration-none" > 06 65 63 11 06</a></p>
                <p class="mb-0" ><i class="fas fa-envelope"></i> <a href="mailto:contact&#64;soutienmathsphysique.fr"
                    class="link-dark text-decoration-none"> contact&#64;soutienmathsphysique.fr</a></p>
              </div>
            </div>
          </div>
        </footer>
    </body>
</html>
